/*--------------------------------------Основные стили---------------------------------------*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}



a {
  text-decoration: none;
}

.button-brown {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover,
.button-brown:focus{
  background-color: #604e43;
}


.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
} 


.button-blue {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-blue:hover,
.button-blue:focus{
  background-color: #669ec0;
}


.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
} 

.button-transparent {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------------------------------------Главная страница Index------------------------------*/

.main-page {
  min-width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
  box-shadow: 
    -5px 0 15px rgba(0, 1, 1, 0.2),
    5px 0 15px rgba(0, 1, 1, 0.2);

    background-color: #ffffff;
}

/* --------------------------------------------------Header --------------------------------------------*/
.main-header {
  padding: 0;
  margin: 0;
  
  position: relative;
}

.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  
  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  margin-bottom: -15px;
  
  order: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation {
  padding: 0;
  margin: 0;
  min-height: 56px;
  
  list-style: none;
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation li {
  padding: 0;
  margin: 0;
  min-width: 168px;
  
  text-align: left;
}

.site-navigation li:nth-child(-n+2) {
  padding: 0;
  margin: 0;
  margin-left: 72px;
  
  text-align: left;
}

.site-navigation li:nth-last-child(-n+2) {
  padding: 0;
  margin: 0;
  margin-right: 72px;
  
  text-align: right;  
}

.site-navigation li:nth-last-child(2) {
  margin-left: auto;
}


.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------Main------------------------------------ */


.introduction{
  padding: 0;
  margin: 0;
  min-height: 432px;
  padding-top: 76px;
  
/*   background-color: #59656f; */
  background: 
    url("../img/background_mask.png") no-repeat bottom,
    url("../img/background.jpg") no-repeat 0px -56px #59656f;
}

.introduction img{
  width: 457px;
  height: 352px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.promo {
  padding: 0;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 6px; 
  
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features {
  padding: 0;
  margin: 0;
  padding-top: 7px; 
  text-align: center
}

.features h3 {
  padding: 0;
  margin: 0;
}

.features > p {
  line-height: 26px;
}

.features-list {
  padding: 0;
  margin: 0;
  padding-top: 37px;
  
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features-list > li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 33%;
  
  background-color: #eeeeee;
  
  flex-grow: 1;
}

.feature-container {
  margin: 0;
  padding: 0  60px;
  padding-top: 47px;
  padding-bottom: 60px;
  
}

.feature-container h3 {
  padding: 0 60px;
  margin-bottom: 25px;
  
  font-size: 21px;
}

.feature-container span {
  display: inline-block;
  margin: 0;
  padding: 0; 
  margin-bottom: 20px;
}

.feature-container p {
  margin: 0;
  padding: 0; 
}

.features-list .first-feature, .features-list .second-feature{
  color: #ffffff;
  background-color: #81b3d2;
  
  box-sizing: border-box;
  width: 100%;
}

.features-list .first-feature {
  background: url("../img/shop_of_sedona.jpg") no-repeat right -78px #81b3d2;
  
  order: -2;
  
  text-align: left;
}

.first-feature-container{
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  padding-left: 50px;
  padding-right: 50px;
  
  text-align: center;
}

.features-list .second-feature {
  background: url("../img/diablo_bridge.jpg") no-repeat left -76px #81b3d2;
  
  text-align: right;
}

.second-feature-container{
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  padding-left: 40px;
  padding-right: 40px;
  
  text-align: center;
}



.features-list .advice {
  text-align: center;
  
  order: -1;
  
  box-sizing: border-box;
  width: 100%;
  
  background-color: #ffffff;
}

.advice ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  justify-content: space-around;
}

.advice li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 33%;
  padding: 0 50px;
  padding-top: 160px;
  padding-bottom: 68px;
}

.advice li:first-child {
  background: url("../img/house_icon.svg") no-repeat center 60px;
}

.advice li:nth-child(2) {
  background: url("../img/burger_icon.svg") no-repeat center 60px;
}

.advice li:last-child {
  background: url("../img/presents_icon.svg") no-repeat center 55px;

}

.advice h3{
  font-size: 21px;
  
  display: inline-block;
  
  margin-bottom: 10px;
}

.motel-search {
  padding: 0;
  margin: 0;
  padding-top: 48px;
  text-align: center;
  
  position: relative;
}

.motel-search b {
  font-size: 30px;
  line-height: 36px;
  
}

.motel-search p {
  line-height: 24px;
  
  padding-top: 10px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.motel-search .button-brown {
  font-size: 21px;
  line-height: 26px;
  
  margin-left: auto;
  margin-right: auto;
  width: 568px;
  min-height: 86px;
}

.sedona-map-container {
  position: relative;
  
  height: 473px;
}

.sedona-map {
  position: absolute;
  
  margin-bottom: -120px;
}

/* ----------------------------------------------------Footer --------------------------------*/
.main-footer {
  padding: 0;
  margin: 0;
  
  display: flex;
  min-height: 120px;
  justify-content: space-around;
  
  background-color: rgba(255, 255, 255, 0.9);
  
  position: relative;
  z-index: 10;
}

.footer-hashtag {
  width: 33%;
}

.footer-hashtag b{
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 45px;
  
  font-size: 21px;
  line-height: 26px;
  
  text-align: center;
  vertical-align: center;
}

.footer-social {
  width: 33%;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  margin-top: 35px;
 
  list-style: none;
  
  display: flex;
  justify-content: center;
}

.footer-social li {
  padding: 0;
  margin: 0;
  padding-right: 3px;
  padding-left: 3px;
}

.social-button {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.twitter::before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  background: url("../img/twitter.svg") no-repeat center;
}

.facebook::before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  background: url("../img/fb-icon.svg") no-repeat center;
}

.youtube::before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  background: url("../img/youtube.svg") no-repeat center;
}

.footer-copyright {
  width: 33%;
}

.footer-copyright p{
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 38px;
  width: 198px;
  
  line-height: 26px;
}



.htmlacademy {
  display: inline;
  vertical-align: middle;
  
  margin-left: 5px;
}

.htmlacademy:hover path {
  fill: #81b3d2;
}

.htmlacademy:active path {
  fill: #bdbbbc;
}



/*---------------------------------------------------------Modal ------------------------------*/
.modal-motel-search {
  padding: 55px;
  margin: 0;
  width: 568px;
  left: 50%;
  margin-left: -284px;

  position: absolute;
  
  background-color: #ffffff;
  
  box-sizing: border-box;
  
  box-shadow: 
    0px 0 15px rgba(0, 1, 1, 0.2),
    0px 0 15px rgba(0, 1, 1, 0.2);

  display: none;
}

.search-form {
  padding: 0;
  margin: 0;
  width: 100%;
  
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  
  display: flex;
  flex-direction: column;
}

.search-form p {
  padding: 0;
  margin: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  position: relative;
}

.search-form input{
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  width: 346px;
  height: 38px;
  
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  border: 0;
  
  box-sizing: border-box;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: transparent;
  outline-color: #e5e5e5;
}

.search-form input[value]{
  padding-left: 12px;
}

.search-calendar {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 19px;
  right: 19px;

  background: none;
  border-style: none;
}

.search-calendar svg {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.search-calendar:hover path, .search-calendar:focus path {
  fill: #000000;
}

.search-calendar:active path {
  fill: #81b3d2;
}

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minus-button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 19px;
  right: 95px;

  background: none;
  border-style: none;
}

.minus-button svg {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.minus-button:hover rect, .minus-button:focus rect{
  fill: #000000;
}

.minus-button:active rect {
  fill: #81b3d2;
}

.plus-button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 19px;
  right: 19px;

  background: none;
  border-style: none;
}

.plus-button svg {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.plus-button:hover rect {
  fill: #000000;
}

.plus-button:active rect {
  fill: #81b3d2;
}

.number-container p:first-child {
  width: 226px;
}

.number-container p:last-child {
  width: 180px;
}

.number-container input {
  width: 114px;
}

.number-container input[value]{
  padding: 0;
  text-align: center;
}

.modal-motel-search .button-blue{
  font-size: 21px;
  line-height: 26px;
  
  width: 100%;
  height: 58px;
  margin-top: 24px;
}


/*---------------------------------Страница Магазин catalog.html ----------------------------------*/


.catalog-page {
  min-width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
  box-shadow: 
    -5px 0 15px rgba(0, 1, 1, 0.2),
    5px 0 15px rgba(0, 1, 1, 0.2);
  
  background-color: #ffffff;
}

/*--------------------------------------------- Header --------------------------------------------*/

.site-navigation-current {
  color: #766357;
}

/* ------------------------------------------------Main-------------------------------------------- */
.moteles-filter {
  padding: 26px 6%;
  padding-bottom: 6px;
  margin: 0;
  
  background: url("../img/filter_background.jpg") no-repeat 0px -56px #2d3f49;
  
  
}

.moteles-filter-form {
  padding: 0;
  margin: 0;

  font: inherit;
  color: #ffffff;
  
  display: flex;
}

.moteles-filter-form fieldset:nth-child(3){
  margin-left: auto;
  
    width: 315px;
}

.moteles-filter-form fieldset{
  padding: 0;
  margin: 0;
  border:0;
  
  width: 255px;

}

.moteles-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moteles-filter-container label{
  margin-left: 40px;
  margin-bottom: 25px;
  
  position: relative;
}

.moteles-filter-form input[type="text"]{
  background: transparent;
  border: 0;
}

.moteles-filter-form input[value]{
  color: #ffffff;
}

.moteles-filter-container input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: -40px;

  width: 27px;
  height: 27px;

  background: url("../img/checkbox-off.svg") no-repeat ;
}

.moteles-filter-container input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #ffffff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.moteles-filter-container input[type="checkbox"]:checked + .checkbox-indicator{
  background: url("../img/checkbox-on.svg") no-repeat ;
}

.moteles-filter-form legend{
  font-size: 16px;
  font-weight: 700;
  
  margin-bottom: 26px;
}

.moteles-filter-form .button-transparent {/* Здесь будут ширина и высота кнопки */
  
}

.filter-output > span:first-of-type {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  
}

.filter-sorting {
  font-size: 12px;
  line-height: 18px;
}

.filter-sorting a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #b3d1e4
}

.filter-sorting a:hover, .filter-sorting a:focus{
  color: #81b3d2;
  border-bottom: 1px dotted #b3d1e4
}

.filter-sorting a:active{
  color: black;
  border-bottom: 0;
}

.filter-sorting .sorting-current, .filter-sorting .sorting-current:hover, .filter-sorting .sorting-current:focus, .filter-sorting .sorting-current:active {
  color: #81b3d2;
  border-bottom: 0;
}

.filter-resualt {
  list-style: none;
}

.filter-resualt h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.motel-name{
  color: #000000;
}

.motel-name:hover,
.motel-name:focus {
  color: #81b3d2;
}

.motel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.motel-rating {
  color: #666666;
  background-color: #f2f2f2;
}













  
.filter-range{
  background-color: /* green */ transparent ;
  width: 317px;
  height: 20px;
  margin: 10px;
  padding: 1px;
  position: relative;
}

.filter-range svg {
  height: 20px
}

.filter-range-button {
  display: flex;
  height: 24px;
  
  position: absolute;
  top: 0px;
  z-index: 1;
}

.filter-range-button-1{
  background: url("../img/filter-button.svg") no-repeat center;
  width: 22px;
  cursor: pointer;
  border-style: none;
  margin-left: 8px;
}

.filter-range-button-1:hover {
  background-size: auto 100%;
}


.filter-range-button-2{
  background: url("../img/filter-button.svg") no-repeat center;
  width: 22px;
  cursor: pointer;
  border-style: none;
  margin-left: 226px;
}

.filter-range-button-2:hover {
  background-size: auto 100%;
}


.filter-output-button, .filter-output-button-current{
  display: inline-block;
  background: none;
  border-style: none;
  height: 12px;
  width: 11px;
  position: relative;
}

.filter-output-button svg, .filter-output-button-current svg{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.filter-output-button path{
    fill: #cacaca;
}

.filter-output-button-current path{
    fill: #81b3d2;
}

.filter-output-button path:hover{
 
    fill: #231f20;
}

.filter-output-button path:active{
 
    fill: #81b3d2;
}




